<p id="notice"><%= notice %></p>

<p>
  <strong>N passeggeri:</strong>
  <%= @single_trip.n_passeggeri %>
</p>

<%= link_to 'Edit', edit_single_trip_path(@single_trip) %> |
<%= link_to 'Back', single_trips_path %>
