<a data-behavior="notifications-link">
  <%= link_to new_search_path(c_part: notification.target.citta_partenza,c_arr: notification.target.citta_arrivo, data_ora: notification.target.data_ora_partenza), :'data-behavior' => "notifications-link", id: "#{notification.id}" , class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
    <%= notification.actor.username %>
    ha cancellato la tratta
    <%= notification.target.citta_partenza %> - <%= notification.target.citta_arrivo %>
<% end %>
</a>
