<!-- Pagina dei dettagli della route prenotata -->
<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_bookings_path, class: "button icon solid fa-chevron-left"%>
</div>
<% if @journey_ok %>
  <!-- dettagli della route-->
  <div class="col-10 col-8-mobilep">
    <h2>La tua prenotazione</h2>
  </div>
  <div class="col-12 col-12-mobilep">
    <br>
  </div>
  <% @routes.each_with_index do | route , index | %>
    <div class="col-5 col-12-mobilep">
      <%= render 'detail_route', route: route, driver: @ute_drivers[index] %>
      <%if route.data_ora_partenza > DateTime.current%>
        <%= link_to 'Annulla prenotazione', journey_path(id: params[:j_id], r_id: route.id), method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione a questo viaggio?' }, class: "button special" ,title: 'Annulla prenotazione'%>
      <%end %>
    </div>
  <%end%>
  <% if @routes[1] != nil %>
    <div class="col-12 col-12-mobile"><br></div>
    <div class="col-12 col-12-mobile">
      <%= link_to 'Annulla entrambe', destroy_both_journey_path(id: @journey.id, r_1_id: @routes[0].id, r_2_id: 1),method: :delete, data: { confirm: 'Sicuro di voler annullare entrambe le prenotazioni?' }, class: "button special" ,title: 'Cerca nuovo viaggio' %>
    </div>
  <%end %>
<%else %>
  <div class="col-10 col-8-mobilep">
    <h2>Questa non è la tua prenotazione!</h2>
  </div>
<%end %>