<p id="notice" class="col-12"><%= notice %></p>

<div class="col-12">
  <h3>Users</h3>
</div>

<%= render 'formLogin', user: @user %>

<div class="col-12">
  <h4>Non sei ancora registrato ? <%= link_to 'Registrati cliccando qua', new_user_path %></h4>
</div>

<!--<= link_to 'Accedi', user_login_path, {class: 'button'} %>-->