<h2>Modifica metodo di pagamento</h2>
<%if @pay_method.user_id == current_user.id %>

<%= render 'form', pay_method: @pay_method %>
<%else %>
  <h2 class="error">Non puoi visualizzare questo metodo di pagamento!</h2>
<%end %>
