<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', ratings_path(user_id: @user.id), class: "button icon solid fa-chevron-left"%>
</div>
<%unless current_user.driver_id.nil? %>
  <div class="col-10 col-8-mobilep">
    <h2>Dai un voto a <%= @user.nome + ' ' + @user.cognome%></h2>
  </div>
  <%unless notice.nil?
      if notice[0..14] == "Errore nel voto"%>
      <div class="col-12 col-12-mobilep">
        <h2 style="color: #B00100"><%=notice %></h2>
      </div>
    <%end
      end%>
  <hr class="col-12 col-12-mobilep">

  <%= render 'form', rating: @rating %>
<%else %>
  <div class="col-10 col-8-mobilep "></div>
  <hr class="col-12 col-12-mobilep">
  <div class="col-12 col-12-mobilep">
    <h2 style="color: #B00100">Solo un guidatore pu&ograve; valutare un autostoppista</h2>
  </div>
<%end %>