<%= form_with(model: messagge, local: true, class: "col-12 col-12-narrower") do |form| %>
  <div class="col-12 col-12-narrower">
    <%= form.text_area :testo, autofocus: true, placeholder: "Scrivi il messaggio qua" %>
  </div>
  <br>
  <div class="col-12 col-12-narrower">
    <%= form.submit "Invia messaggio"%>
  </div>
<% end %>