<p>
  <strong>Data ora:</strong>
  <%= @messagge.data_ora %>
</p>

<p>
  <strong>Testo:</strong>
  <%= @messagge.testo %>
</p>

<p>

<%= #link_to 'Edit', edit_messagge_chat_path(@messagge) %> |
<%= link_to 'Back', chat_messagges_path %>
