<div class="col-12 col-12-narrower">
  <section class="box special">
    <!--  <i class="far fa-sad-tear fa-7x"></i>-->
    <span class="image error"><%= image_tag 'images/500.jpg'%></span>  </section>
</div>