<!DOCTYPE HTML>
<html>
<head>
  <title>Passage on Rails</title>
</head>
<body>
<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured"><%= image_tag 'images/home1.jpg' %></span>
    <h3>Cerchi un viaggio?</h3>
    <p>Sta a casa che c'è il coronavirus, imbecille</p>
    <ul class="actions special">
      <li><div class="button alt"><%= link_to ' Cerca! ', new_search_path %></div></li>
    </ul>
  </section>
</div>
<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured"><%= image_tag 'images/home2.jpg' %></span>
    <h3>Vuoi condividere le spese?</h3>
    <p>3 mesi di galera per te incivile!</p>
    <ul class="actions special">
      <li><a href="#" class="button alt">bottone</a></li>
    </ul>
  </section>
</div>
</body>
</html>