<!DOCTYPE HTML>
<html>
<head>
  <title>Passage on Rails</title>
</head>
<body>
<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured"><%= image_tag 'images/pic02.jpg' %></span>
    <h3>ciao grande</h3>
    <p>bella zio</p>
    <ul class="actions special">
      <li><a href="#" class="button alt">bottone</a></li>
    </ul>
  </section>
</div>
<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured"><%= image_tag 'images/pic03.jpg' %></span>
    <h3>ciao 2</h3>
    <p>bella zi</p>
    <ul class="actions special">
      <li><a href="#" class="button alt">bottone</a></li>
    </ul>
  </section>
</div>

<div class="col-6 col-12-narrower">
    <h3>ciao 2</h3>
    <p>bella zi</p>
    <ul class="actions special">
      <li><a href="#" class="button alt">bottone</a></li>
    </ul>
</div>
<div class="col-6 col-12-narrower">
    <h3>ciao 2</h3>
    <p>bella zi</p>
    <ul class="actions special">
      <li><a href="#" class="button alt">bottone</a></li>
    </ul>
</div>

</body>
</html>