<!DOCTYPE HTML>
<html>
	<head>
		<title>Passage on Rails</title>
	</head>
	<body>
					<div class="row">
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><%= image_tag 'images/pic02.jpg' %></span>
								<h3>ciao grande</h3>
								<p>bella zio</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">bottone</a></li>
								</ul>
							</section>
						</div>
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><%= image_tag 'images/pic03.jpg' %></span>
								<h3>ciao 2</h3>
								<p>bella zi</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">bottone</a></li>
								</ul>
							</section>
						</div>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta">
					<h2>qualcosa</h2>
					<p>qualcos'altro</p>
					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

	</body>
</html>