<h1>Editing Multi Trip Association</h1>

<%= render 'form', multi_trip_association: @multi_trip_association %>

<%= link_to 'Show', @multi_trip_association %> |
<%= link_to 'Back', multi_trip_associations_path %>
