<p>
  <strong>Rating medio:</strong>
  <%= @hitch_hiker.rating_medio %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @hitch_hiker.deleted %>
</p>

<%= link_to 'Edit', edit_hitch_hiker_path(@hitch_hiker) %> |
<%= link_to 'Back', hitch_hikers_path %>
