
<%if @route.driver_id == current_user.driver_id and @route.deleted != true%>
  <h1>Editing Route</h1>
  <%= render 'form', route: @route %>

  <%= link_to 'Show', [@driver, @route] %> |
  <%= link_to 'Back', driver_routes_path(@driver) %>
<%else %>
  <h2 class="error">Non puoi modificare questa tratta!</h2>
<%end %>

