<%if @route.driver_id == current_user.driver_id and @route.deleted != true%>

  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route %>
  </div>
  <p>
    <strong>Contanti:</strong>
    <%= @route.contanti %>
  </p>

  <div class="col-12 col-12-mobilep"></div>
<%= link_to 'Edit', edit_driver_route_path(@driver, @route) %> |
<%= link_to 'Back', driver_routes_path(@driver) %>
<%else %>
  <h2 class="error">Non puoi visualizzare questa tratta!</h2>
<%end %>
</div>