<%= form_with(model: passenger_association, local: true) do |form| %>
  <% if passenger_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passenger_association.errors.count, "error") %> prohibited this passenger_association from being saved:</h2>

      <ul>
        <% passenger_association.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
