<%if @driver!= nil %>
  <%#=@driver.has_routes(@driver.id) %>
<% if @driver.has_routes(@driver.id) %>
  <div class="col-12 col-12-narrower">
    <h3>Non puoi annullare il tuo abbonamento driver, hai delle tratte a tuo nome!</h3>
    <h4>gestisci le tratte prima di annullare la tua sottoscrizione!</h4>
  </div>
  <div class="col-6 col-12-narrower">
    <%= link_to 'Le tue tratte',  driver_routes_path(current_user.driver_id), class: 'button'%>
  </div>
<%else %>
  <div class="col-12 col-12-narrower">
    <h3>Sei sicuro di voler eliminare il tuo account Driver?</h3>
    <h4>potrai tornare driver in qualsiasi momento ma perderai tutti i dati sui tuoi veicoli!</h4>
  </div>
  <div class="col-6 col-12-narrower">
    <%= link_to "Elimina Driver", driver_path(current_user.driver_id), :method => :delete, class: 'button' %>
  </div>
<%end %>
<div class="col-6 col-12-narrower">
  <%= link_to 'Back', root_path,class:'button special'%>
</div>
<%else %>
  <div class="col-12 col-12-narrower">
    <h3>Non sei un Driver!</h3>
  </div>
<%end %>