<% if Vehicle.find_by_driver_id(@driver.id) == nil %>
  <div class="col-12 col-12-narrower">
    <h3>Sei sicuro di voler eliminare il tuo account Driver?</h3>
    <h4>potrai tornare driver in qualsiasi momento ma perderai tutti i dati sui tuoi veicoli!</h4>
  </div>
  <div class="col-6 col-12-narrower">
    <%= button_to "Elimina Driver", driver_path(@driver), :method => :delete %>
  </div>
<%else %>
  <div class="col-12 col-12-narrower">
    <h3>Non puoi annullare il tuo abbonamento driver, hai delle tratte a tuo nome!</h3>
    <h4>gestisci le tratte prima di annullare la tua sottoscrizione!</h4>
  </div>
  <div class="col-6 col-12-narrower">
    <%= button_to "Visualizza le tue tratte", driver_route_path(@driver), :method => :delete %>
  </div>
<%end %>
<div class="col-6 col-12-narrower">
  <%= link_to 'Back', root_path,class:'button special'%>
</div>