<h1>Ciao :3 </h1>
<% @journeys.each do |journey|%>
  <%= journey.id %>
  <% journey.stages.each do |stage| %>
    <%= stage.id %>
    <%= stage.route.driver_id %>
  <%end %>
<% end %>

<!--
<render 'form', passenger_association: @passenger_association %>

< link_to 'Show', @passenger_association %> |
< link_to 'Back', passenger_associations_path %>
-->
