<h1>Editing Passenger Association</h1>

<%= render 'form', passenger_association: @passenger_association %>

<%= link_to 'Show', @passenger_association %> |
<%= link_to 'Back', passenger_associations_path %>
